*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

body{
    border: 5px solid red;
}


.abs{
    background-color: chartreuse;
    width: 350px;
    width: 10cm;
    width: 5in;
}

.div2{
    background-color: blueviolet;
    width: 50%;
}


.div3{ 
    background-color: chocolate;
    width: 50%;
}


.div4{
    background-color: lime;
    width: 50vw;
}

.div5{
    font-size: 25px;
}


.div6{
    font-size: 2em;
}

.div7{
    font-size: 2em;
}

.div8{
    font-size: 25px;
}

.div9{
font-size: 5rem;
}

.div10{
font-size: 2rem;
}